body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.flex-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.container {
  width: 960px;
  margin: auto;
}

nav {
  align-items: center;
  background-color: cadetblue;
  color: white;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}

nav div {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.select-options span {
  margin: 1rem 2rem;
}

.moto {
  background-color: white;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: 10rem;
  text-align: right;
  width: fit-content;
}

.moto h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

.services {
  display: flex;
  justify-content: center;
}

.service {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  margin: 3rem;
  text-align: center;
  width: 5rem;
}

.exams {
  width: 3.5rem;
}

.fittings, .delivery {
  width: 5rem;
}

.main-section {
  display: flex;
  justify-content: center;
}

.philosophy, .appointment {
  margin: 0 2.5%;
  width: 35%;
}

.philosophy p, .appointment p {
  padding: 1rem 0;
}

.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
}
