body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.flex-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header {
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.container {
  width: 960px;
  margin: auto;
}

.logo-mobile {
  display: none;
}

nav {
  align-items: center;
  background-color: cadetblue;
  color: white;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  padding: 1rem 0;
}

nav div {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.select-options span {
  margin: 1rem 2rem;
}

.moto {
  background-color: white;
  justify-content: flex-end;
  margin-right: -2rem;
  margin-top: 10rem;
  text-align: right;
  width: fit-content;
}

.moto h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.5rem 5rem;
}

.services {
  display: flex;
  justify-content: center;
}

.service {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  margin: 3rem;
  text-align: center;
  width: 5rem;
}

.exams {
  width: 3.5rem;
}

.fittings, .delivery {
  width: 5rem;
}

.main-section {
  display: flex;
  justify-content: center;
}

.philosophy, .appointment {
  margin-right: 5%;
  width: 35%;
}

.philosophy p, .appointment p {
  padding: 1rem 0;
}

.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
}

footer {
  align-items: center;
  background-color: azure;
  display: flex;
  margin-top: 5rem;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
  }

  header {
    height: 22rem;
  }

  .moto {
    margin-right: 2rem;
    margin-top: 5rem;
  }

  .moto h1 {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  nav.container {
    display: none;
  }

  .logo-mobile {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
  }

  header {
    background-position: 22%;
  }

  div.flex-header {
    justify-content: flex-start;
  }

  .moto {
    margin-top: 19rem;
  }

  div.flex-header h1 {
    font-size: 1rem;
    padding-right: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .services {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.77rem;
  }

  .services :nth-child(2), .services :nth-child(3) {
    margin-top: 1.54rem;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .service div {
    font-size: 0.77rem;
  }

  .main-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-section p {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }

  .philosophy, .appointment {
    width: 100%;
  }

  .title {
    max-width: 100%;
    text-align: center;
  }

  footer {
    display: flex;
  }

  footer img {
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
  }

  footer span {
    display: none;
  }
}
